# Ignore Terraform local cache files
.terraform/
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.backup
**/terraform.tfvars

# Ignore Terraform providers and plugins
**/.terraform/providers/
**/.terraform/plugins/

# Ignore Terraform logs
crash.log
crash.*.log
override.tf
override.tf.json
.terraformrc
terraform.rc

# Ignore SSH keys (if any)
*.pem

# Ignore GCP service account key
gcloud/optimal-card-450016-g5-4b79ea6e405c.json
